/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import 'bootstrap-sprockets';
 @import 'bootstrap';

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif; //Using Google's custom Open Sans for primary font for h1-3
}

.navbar, .home-callout {
    //Gradient Provided by https://twitter.com/_ighosh at uiGradients.com vv
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    //Gradient Provided by https://twitter.com/_ighosh at uiGradients.com ^^
}

.navbar{border: none;} //Removes Navigation Bar's border

.navbar-default .navbar-brand{ //Makes our logo black and when you hover (&:hover), it will lighten up a little
    color: black;
    &:hover{
        color:black;
        opacity:0.75;
    }
}

.navbar-default .navbar-nav > li > a {color: white;} //Makes the about nav button white

.navbar-default .navbar-nav > li > a:hover{ //When you hover over the about button it will be white
    color: white;
    opacity:0.75;
}

.home-callout{ //This is our main text on the home page. Makes it white, with shadow, extra margin to remove whitespace
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 100px;
}