/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif; //Using Google's custom Open Sans for primary font for h1-3
}

//NavStyles
.navbar, .home-callout { //GRADIENT

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0d0907+0,373769+100 */
    background: #0d0907; /* Old browsers */
    background: -moz-linear-gradient(left, #0d0907 0%, #373769 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0d0907 0%,#373769 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0d0907 0%,#373769 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0907', endColorstr='#373769',GradientType=1 ); /* IE6-9 */
}

.navbar{border: none;} //Removes Navigation Bar's border

.navbar-default .navbar-brand{ //Logo properties (Font,Weight,color,hover,font-size)
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: white;
    &:hover{
        color:white;
        opacity:0.75;
    }
}

.navbar-default .navbar-nav > li > a {   //Navbar buttons
    color: white;
    font-size: 16px;
    &:hover{ //When you hover over the non-logo navbar buttons they will be white
        color: white;
        opacity:0.75;
    }
} //Makes the about nav button white

.home-callout{ //This is our main text on the home page. Makes it white, with shadow, extra margin to remove whitespace
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 100px;
}

//Mobile Navbar settings vv
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle { 
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #00c6ff;
  }
}

.alert-notice{
    Display: none;
}